* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'main' !important;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-SemiBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Black.ttf');
    font-weight: 900;
}

body,
html {
    font-family: 'main' !important;
    direction: ltr;
    background-color: #000000;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

table {
    border-collapse: collapse;
    text-align: center;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e7e8;
    margin: 20px 0;
    padding: 0;

}

:focus-visible {
    outline: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
    background-color: transparent;
    border-radius: 50px;
}


::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
}

::-webkit-scrollbar:horizontal {
    height: 7px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

